/ALU.vhd.bak
/ALU_control.vhd.bak
/ALU_REG.vhd.bak
/bcircuit.vhd.bak
/control_unit.vhd.bak
/counter.vhd.bak
/CPU.vhd.bak
/instruction_memory.vhd.bak
/lab3.vhd.bak
/ram64.vhd.bak
/ram_dual.vhd.bak
/regfile.vhd.bak
/Stage_four.vhd.bak
/Stage_one.vhd.bak
/Stage_three.vhd.bak
/Stage_two.vhd.bak